.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: .2s ease-in-out;
    background-color: $white;
    width: 400px;
    max-width: 80vw;
    
    border: 1px solid $black;
    border-radius: .25rem;

    z-index: 99999;

    &.active {
        transform: translate(-50%, -50%) scale(1);
    }
}

.modal-header {
    padding: $gap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $black;

    .title {
        font-size: $large-font-size;
        font-weight: bold;

        h3 {
            margin: 0;
        }
    }

    .close-modal {
        cursor: pointer;
        border: 0;
        outline: none;
        background: none;
    }
}

.modal-body {
    font-size: $normal-font-size;
    padding: $gap;
}

.input-text,
.input-textarea {
    appearance: none;
    display: block;
    width: 100%;
    max-width: calc(100% - $gap * 1.25);
    border: 2px solid $grey;
    background-color: $white;
    padding: $sm-gap;
    border-radius: .25rem;
    margin: $sm-gap 0 $sm-gap;
    box-shadow: none;
    font-size: $normal-font-size;
}

.button-send {
    width: 100%;
    background: none;
    background-color: $blue;
    color: $white;
    font-size: $large-font-size;
    border: 0;
    border-radius: 0.25rem;
    padding: $gap;
    cursor: pointer;
    margin-top: $sm-gap;
}