/* Fonts */
$font-main: 'Poppins', Arial, Helvetica, sans-serif;
$font-headline: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

/* Colors */
$black: #2a2a2a;
$white: #ffffff;
$light-grey: #f2f2f2;
$grey: #cdcdcd;
$dark-grey: #939393;
$red: #b44236;
$blue: #367db4;
$green: #48ad48;

/* Gaps */
$sm-gap: 10px;
$gap: 20px;
$lg-gap: 40px;

/* Sizes */
$extra-small-font-size: .5rem;
$small-font-size: .75rem;
$normal-font-size: 1rem;
$medium-font-size: 1.25rem;
$large-font-size: 1.5rem;
$extra-large-font-size: 2rem;